
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Praticagem de Manaus</title> 
   <link rel="stylesheet" href="/css/styles.css"> 
   <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <script src="/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script src="https://cdnjs.cloudfare.com/ajax/libs/materialize/1.0.0/js/materialize.mim.js"></script>
  </head>


  <nav class="nav-wrapper stickynone">
   <a href="/" class="logo">Praticagem de Manaus</a>
      <ul id="nav-mobile" class="right">
        <li id="hovermenu"><a href="/">Controle de Manobras</a></li>
        <li id="hovermenu"><a href="/mapageral">Mapa Geral</a></li>
        <li id="hovermenu"><a href="/team">Team</a></li>
        <li id="hovermenu"><img href="/perfil" src="/img/perfil.png" alt="Login"><a id="perfilbtn" href="/perfil" >LOGIN</a></li>
      </ul>
    
  </nav>



   <script type="text/javascript"> 
    window.addEventListener("scroll",function(){ // efeito rolamento da pagina
      var header = document.querySelector("nav");
      header.classList.toggle("sticky",window.scrollY > 0);
    });



    //sessionStorage.clear();

  if(JSON.parse(sessionStorage.getItem('session')) != undefined ) {
    let  auth = JSON.parse(sessionStorage.getItem('session'))

        name = JSON.stringify(auth.name);

    btnperfil = document.getElementById('perfilbtn')

    let string = name;
    let primeironame = string.split(" ");

    document.getElementById("perfilbtn").innerHTML= `${primeironame[0]}`
   
    console.log(name)
  }
   </script>
  
   
    {{{body}}}
    



    
</html>
