

<body class="home">
<div  class="container">

<div class="row" id="">
    <h2 id="h2home">Controle de manobras</h2>

    <h1 id="h1home">Estimated Arrivals</h1>
</div>

<div id="list" class="row">

    <ul id="navioslist">
                                <h2 class="" >Login</h2>
                                <div class="form-group">
                                    <label for="username" class="text-info">Usuário:</label><br>
                                    <input type="text" name="email" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Senha:</label><br>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <div class="form-group-submit">
                                    <input type="submit"  class="btn btn-info btn-md" name="submit" id="btn" value="submit" >
                                </div>
                                <div id="register-link" style="text-align: end;">
                                    <a href="/cadastrar" class="text-info" >Registre-se agora</a>
                                </div>
     </form>
   
    </ul>

</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
 <script>
     
     // Evento que é executado ao clicar no botão de enviar
    document.getElementById('btn').onclick = function(e) {
    e.preventDefault();

        var user = document.getElementById('username');
        var senha = document.getElementById('password');

    axios.post("http://localhost:3002/loginauth",{
        email: `${user.value}`,
        password: `${senha.value}`
    })
       
    .then(resp => {
        const resposta = resp.data;
        id = resposta[0].id
        name = resposta[0].name
        email = resposta[0].email
        
        let auth = `{"id":"${resposta[0].id}","name":"${resposta[0].name}","email":"${resposta[0].email}"}`

            sessionStorage.setItem('session',auth);

        window.location.replace("http://localhost:3002/");

          })

        .catch(error => console.log(error))  

    }



 </script>
</body>
</html>

