
<script type="text/javascript">
    var header = document.querySelector("header"); //fixar efeito barra de menu
      header.classList.toggle("sticky",window.scrollY = 1);
  
//sessionStorage.clear

if(JSON.parse(sessionStorage.getItem('session')) == undefined ) {
  window.location.replace("http://localhost:3002/login");
}
  let  auth = JSON.parse(sessionStorage.getItem('session'))

      name = auth.name;
      email = auth.email;
      id = auth.id;

     {{{body}}}

</script>
	
<script>
function iniciarMap(){

  var map = new google.maps.Map(document.getElementById('map'),{
    zoom: 6.5,
    center: {"lat":-2.583287,"lng":-52.488738}
  });
	


axios.get('http://localhost:3002/apimarine')    ///colentando array navios
.then(resp => {
    const lista = resp.data;

    for (var i = 0; i < lista.length; i++) {


      var coordenadas = JSON.parse(`{"lat": ${lista[i].LAT},"lng": ${lista[i].LON}}`)

       console.log(coordenadas)


        //marcador do mapa de acordo com a posição no loop
        var marker = new google.maps.Marker({
          position: coordenadas,
          map: map, 
        icon:{
        url: src="/img/markernavio.png",
        scaledSize: new google.maps.Size(25, 25)
        },
        id: i,
        title: `${lista[i].SHIPNAME}`
      
        });


         //criar descrição do marcador de acordo com a posição no loop
        marker.description = new google.maps.InfoWindow({
        content:`<div  id="titulomap"><b>${lista[i].SHIPNAME}</b></div><br><b>IMO:</b> ${lista[i].IMO} <br> <b>Velocidade:</b> ${lista[i].AVG_SPEED}kn <br> <b>Destino:</b> ${lista[i].DESTINATION}<br> <b>Tipo:</b> ${lista[i].TYPE_NAME} <br> <b>Ano:</b> ${lista[i].YEAR_BUILT}<br><b>Distancia: </b>${lista[i].DISTANCE_TO_GO}KM`
        });

        //exibir descrição do marcador de acordo com a posição no loop
        google.maps.event.addListener(marker, 'click', function(){
          this.description.setPosition(this.getPosition());
          this.description.open(map); //map to display on
        });

   
    }
     console.log(lista)

})
    .catch(error => console.log(error))  /// fim da coleta

//menssagem do marcador
var infowindow = new google.maps.InfoWindow({
  content:"Estou Aqui!"

});

infowindow.open(map,marker);

}

</script>

<body>  
  
	<div id="map"></div>

</body> 

	<style> 
		#map {      
    position: absolute;
		height: 100% !important;;
		width: 100% !important;;
    }

    }
     #titulomap{
      margin-bottom: -15px;
      text-align: center;
    }
	</style>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjRopAliYHfukxfnfe9bQmG-D_ero4RoE&callback=iniciarMap"></script>    
 
  
</html>