
<script type="text/javascript">
    let header = document.querySelector("header"); //fixar efeito barra de menu
      header.classList.toggle("sticky",window.scrollY = 1);
  
  let coordenadast = JSON.parse(sessionStorage.getItem('localizacao'));

    coord = JSON.parse(coordenadast);
    console.log(coord);
    imo = coord.imo;

</script>
	
<script>
function iniciarMap(){

  let map = new google.maps.Map(document.getElementById('map'),{
    zoom: 10,
    center: coord
  });
	
  //marcador do mapa
  let marker = new google.maps.Marker({
    position: coord,
    map: map,
	icon:{
	url: src="/img/markernavio.png",
	scaledSize: new google.maps.Size(30, 30)
	},
	title: 'Hi..!'
	
  });

  

axios.get('http://localhost:3002/apimarine')    ///colentando array navios
.then(resp => {
    const lista = resp.data;

    for (var i = 0; imo != lista[i].IMO; i++) {



    }
  console.log(`teste lista${lista[i].IMO} teste ${imo}`)


  //menssagem do marcador
    let infowindow = new google.maps.InfoWindow({
      content:`<div  id="titulomap"><b>${lista[i].SHIPNAME}</b></div><br><b>IMO:</b> ${lista[i].IMO} <br> <b>Velocidade:</b> ${lista[i].AVG_SPEED}kn <br> <b>Destino:</b> ${lista[i].DESTINATION}<br> <b>Tipo:</b> ${lista[i].TYPE_NAME} <br> <b>Ano:</b> ${lista[i].YEAR_BUILT}<br><b>Distancia: </b>${lista[i].DISTANCE_TO_GO}KM`
        });
infowindow.open(map,marker);

})
    .catch(error => console.log(error))  /// fim da coleta


}
</script>

<body>  
  
	<div id="map"></div>
 
		<style> 
			#map {      
    position: absolute;
		height: 100% !important;
		width: 100% !important;
    }

    }
     #titulomap{
      margin-bottom: -15px;
      text-align: center;
    }
	</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjRopAliYHfukxfnfe9bQmG-D_ero4RoE&callback=iniciarMap"></script>    

</html>