<body>
<script type="text/javascript">
    var header = document.querySelector("header"); //fixar efeito barra de menu
      header.classList.toggle("sticky",window.scrollY = 1);
  
//sessionStorage.clear

if(JSON.parse(sessionStorage.getItem('session')) == undefined ) {
  window.location.replace("http://localhost:3002/login");
}
  let  auth = JSON.parse(sessionStorage.getItem('session'))

      name = auth.name;
      email = auth.email;
      id = auth.id;

     {{{body}}}

</script>
<main>                                                                                                                     <!-- MAIN Area de conteudo principal do site-->                                                                                                                   <!-- MAIN Area de conteudo principal do site-->
        <div id="registrar" class="row justify-content-center align-items-center" >
            <div class="container-registrousuario">  
                     <div id="registro-row" class="row justify-content-center align-items-center" >                 
                            <form id="registrar-form" name="registrar" class="form" action="/atualizar/" onsubmit="return senhaForm()" method="POST">
                                <h2 class="text-center text-info">Alterar Usuário</h2>
                            <!------------------------------------------------------------------------>
                                <input type="hidden" id="id" name="id" >
                                <div class="form-group">
                                    <label for="name" class="text-info" >Novo Nome Completo:</label>
                                    <input type="text" name="name" id="name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="text-info">Email:</label>
                                    <input type="email" name="email" id="email" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label  class="text-info">Nova Senha:</label>
                                    <input type="password" name="password" id="passwordnovo" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="senha" class="text-info">Senha novamente:</label>
                                    <input type="password" name="password2" id="password2" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
 
<script>

</script>

</html>



</html>

