  
<script>
//sessionStorage.clear

if(JSON.parse(sessionStorage.getItem('session')) == undefined ) {
  window.location.replace("http://localhost:3002/login");
}
  let  auth = JSON.parse(sessionStorage.getItem('session'))

      name = auth.name;
      email = auth.email;
      id = auth.id;

     {{{body}}}

</script>

<body class="home">

  <div class="materialize"  >
    <h2> Modals </h2>
      <a href="#terms" class="btn orange modal-trigger"> Terms & Conditions</a>

      <div class="modal" id="terms">
          test

      </div>

  </div>




</body>