  
<script>
//sessionStorage.clear

if(JSON.parse(sessionStorage.getItem('session')) == undefined ) {
  window.location.replace("http://localhost:3002/login");
}
  let  auth = JSON.parse(sessionStorage.getItem('session'))

      name = auth.name;
      email = auth.email;
      id = auth.id;

     {{{body}}}

</script>

<body class="home">
 <div  class="container"> 

<div class="row" id="">
    <h2 id="h2home">Controle de manobras</h2>

    <h1 id="h1home">Estimated Arrivals</h1>
</div>

<h2>Modals</h2>

<a href="#terms" class="btn modal-trigger"> termos ..</a>

<div class="modal" id="terms">
  <div class="modal-content">
<h4>Teste Modal</h4>>
<p>Termos ..........apaspkaskp</p>
</div>
  <div class="modal-footer">
    <a href="#" class="modal-close btn orange"> Agree & Close</a>
  </div>
</div>


</div>
  



</body>